/*@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&family=Playfair+Display:wght@200;300;400;500;600;700;800;900&display=swap');
/*@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@200;300;400;500;600;700;800;900&display=swap');
/*@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');*/


/*
#48e7e9
#c0b4ff
#ffffff
#5429c5
#494949
#472ada
#111111
#c3c3c3
#755cf2
*/


*{
	margin: 0;
	padding: 0;
}

body {
	height: 1000px;
	background-color: #5429c55c;
}

header{
	z-index: 7;
	position: fixed;
	width:100%;
	/*background:#1d1f20;*/
	height:63px;
	line-height:50px;
	top: 0;
	bottom: 0;
}

.header-nav{
	z-index: 5;
	visibility: hidden;
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	top: 63px;
	display: flex;
	background: rgba(0,0,0,0.5);
	justify-content: center;
	align-items: center;
}

.header-nav .toggle{
	position: absolute;
	top: 0;
	right: 0;
	z-index: 2;
	cursor: pointer;
	width: 50px;
	height: 50px;
	opacity: 0;
}

.menu {
	list-style-type: none;
}

.menu-links{
	text-transform: uppercase;
	font-family: 'Playfair Display', serif;
	width: 600px;
	padding-top: 10px;
	border-bottom: 1px solid #ffffff;
	text-align: center;
}

.menu-links a {
	color: #fff;
	font-size: 23px;
	text-decoration: none;
}

.dot-nav{
	z-index: 7;
	top: 53%;
	position: fixed;
	right: 18px;
}

.dot-nav a{
	background-color: #ffffff5c;
	cursor: pointer;
	border: 1px solid #ffffff5c;
	border-radius: 50%;
	width: 7px;
	height: 7px;
	display: block;
	margin: 13px;
}


.dot-active{
	position: relative;
	background-color: #ffffff !important;
	width: 7px !important;
	height: 7px !important;
}


.dot-active:before {
	margin: 0;
	position: absolute;
	left: -6px;
	padding: 0;
	right: -6px;
	bottom: -6px;
	top: -6px;
	border-radius: 50%;
	content: '';
	border: 1px solid #fff;
}

.dot-active a{
	border-radius: 50%;
}


.section {
	width: 100%;
	height: 100vh;
}

.section:first-child{
	/*margin-top: 63px;*/
}

.section1 {
	background-color: #dbe20d;
	width: 100%;
	height: 100vh;
}

footer{
	height: 63px;
	background-color: #121212;
}



/*-----menu-----*/

.mobile-menu-icon{
	top: 28px;
	height: 30px;
	width: 30px;
	position: fixed;
	right: 47px;
	transition: 0.6s;
	-webkit-transition: 0.3s ease;
}

.mobile-menu-icon span, .mobile-menu-icon span::before, .mobile-menu-icon span::after {
	display: block;
	width: 27px;
	height: 1px;
	background-color: #ffffff;
	outline: 1px solid transparent;
	transition-property: background-color, transform;
	transition-duration: 0.3s;
	border: 1px solid #fff;
}

.mobile-menu-icon span::before, .mobile-menu-icon span::after {
	position: absolute;
	content: ""
}

.mobile-menu-icon span {
	position: absolute;
	color: #fff;
}

.mobile-menu-icon span::before {
	top: 9px;
	height: 2px;
}

.mobile-menu-icon span::after {
	top: 20px
}

.mobile-menu-icon.clicked span {
	background-color: transparent;
	border: none;
}

.clicked {
	right: 50%;
	top: 15%;
	z-index: 1000;
}

.mobile-menu-icon.clicked span::before {
	transform: translateY(9px) rotate(45deg)
}

.mobile-menu-icon.clicked span::after {
	transform: translateY(-9px) rotate(-45deg)
}

.mobile-menu-icon.clicked span::before {
	top: 0
}

.mobile-menu-icon.clicked span:before, .mobile-menu-icon.clicked span:after {
	background-color: #ffffff
}

.mobile-menu-icon:hover {
	cursor: pointer
}

.overflow_h {
	overflow: hidden
}

#page1{
	background-color: #5429c5;
	/*background-image: url('https://funny-photo.s3.amazonaws.com/templates/1028/preview500.jpg');*/
	background-image: url('https://www.lightstalking.com/wp-content/uploads/cri_000000188247-1024x773.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	/*background-attachment: local;*/
}


.first-page{
	height: 1052px;
	/* width: 100%; */
	display: flex;
	margin-left: 50%
}
.first-page > img {
	width: 50%;
	height: 100%;
}

.page-back{
	width: 100%;
	height: 100%;
	background-color: #5229C9;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-end;
}

.information{
	margin-left: 12.1%;
	margin-bottom: 98px;
}

.first-text{
	padding: 0 12% 0 0;
	margin-bottom: 124px;
}

.text-1{
	color: #48e7e9;
	font-size: 30px;
	font-weight: 300;
	margin-bottom: 14px;
	font-family: 'Open Sans', sans-serif;
	letter-spacing: 1.3px;
}

.text-2{
	letter-spacing: 4px;
	line-height: 1.2;
	font-style: normal;
	font-size: 83px;
	color: white;
	font-weight: 800;
	margin: 0;
	font-family: 'Playfair Display', sans-serif;
}

.text-3{
	line-height: 1.6;
	font-style: normal;
	font-weight: 300;
	letter-spacing: 1px;
	color: #c3c3c3;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	margin-top: 39px;
}

.first-logo{
	margin-left: -7px;
	width: 30%;
	display: flex;
	justify-content: space-between;
	margin-bottom: 75px;
}

.first-logo > img {
	width: 28px;
}

.first-contact{
	margin-bottom: 13px;
	margin-top: -4%;
}

.first-contact > p{
	margin-bottom: 5px;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	color: #c3c3c3;
}

.first-contact > a {
	font-family: 'Open Sans', sans-serif;
	color: #c3c3c3;
	font-size: 17px;
	text-decoration: none;
	font-weight: 300;
}

#page2{
	/*!*background-image: url("https://wallpapercave.com/wp/wp1619692.jpg");*!*/
	/*width: 100%;*/
	/*height: 1061px;*/
	/*background: white;*/
	/*background-repeat: no-repeat;*/
	/*background-size: cover;*/
	/*background-attachment: fixed;*/

	width: 100%;
	height: 1061px;
	background-image: url("https://images2.minutemediacdn.com/image/upload/c_fill,w_720,ar_16:9,f_auto,q_auto,g_auto/shape/cover/sport/dataimagewebpbase64UklGRvYNAwBXRUJQVlA4IOoNAwBQ5xC-e642dd3963420bfff20f917d8ffe6eba.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.second-page{
	background: #fff;
	width: 50%;
	height: 100%;
	display: flex;
	justify-content: flex-start;
}

.second-text{
	width: 100%;
padding: 10px;

}

.line{
	border-bottom: 2px solid #5429c5;
	width: 42px;
	height: 50px;
	margin: 0px 27px 0 4px;
}

.sec-text1{
	margin-top: 103px;
	margin-left: 72px;
	display: flex;
}

.sec-text1 > p {
	font-family: "Playfair Display", sans-serif;
	font-size: 65px;
	color: #5429c5;
	letter-spacing: 0.8px;
	font-weight: 700;
}

.sec-text2{
	margin-top: 30px;
	margin-left: 75px;
	margin-right: 82px;
}

.sec-text2 > p{
	font-size: 26px;
	font-family: "Playfair Display", sans-serif;
	font-weight: 200;
	font-style: normal;
	letter-spacing: 0.79px;
	line-height: 33px;
}

.sec-text3{
	margin-top: 60px;
	margin-left: 75px;
	margin-right: 82px;
}

.sec-text3 > p{
	font-size: 16px;
	font-family: "Open Sans", sans-serif;
	font-weight: 200;
	font-style: normal;
	letter-spacing: 0.89px;
	line-height: 29px
}

#page7{
background-color: #5429c5;
background-image: url('../img/contact-bg.jpg');
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
}