
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&family=Playfair+Display:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@200;300;400;500;600;700;800;900&display=swap');

/*html{*/
/*	overflow-x: hidden;*/
/*}*/

/*body{*/
/*	overflow-x: hidden;*/
/*}*/
/*html{*/
/*	overflow-x: hidden;*/
/*}*/

/*body{*/
/*	overflow-x: hidden;*/
/*}*/

*{
	margin: 0;
	padding: 0;
}

header{
	z-index: 7;
	position: fixed;
	width:100%;
	background: transparent;
	height:80px;
	line-height:50px;
	top: 0;
	bottom: 0;
	transition: 0.3s;
}


.header-nav{
	z-index: 5;
	visibility: hidden;
	/*visibility: visible;*/
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	display: flex;
	background: rgba(0,0,0,0.8);
	justify-content: center;
	align-items: center;
}

.header-nav .toggle{
	position: absolute;
	top: 0;
	right: 0;
	z-index: 2;
	cursor: pointer;
	width: 50px;
	height: 50px;
	opacity: 0;
}

.menu {
	list-style-type: none;
}

/*--------------------------------------------------------*/

/*.menu {*/
/*	list-style-type: none;*/
/*	!*padding: 0;*!*/
/*	!*text-align: center;*!*/
/*}*/

/*.menu-links {*/
/*	!*transform: translate(100%);*!*/
/*	transition: transform 0.5s;*/
/*}*/

/*.item1 {*/
/*	transition-delay: 0.1s;*/
/*	transform: translate(0px, 30px);*/
/*}*/

/*.item2 {*/
/*	transform: translate(0px, 30px);*/
/*	transition-delay: 0.4s;*/
/*}*/

/*.item3 {*/
/*	transform: translate(0px, 30px);*/
/*	transition-delay: 0.7s;*/
/*}*/
/*.item4 {*/
/*	transform: translate(0px, 30px);*/
/*	transition-delay: 1s;*/
/*}*/
/*.item5 {*/
/*	transform: translate(0px, 30px);*/
/*	transition-delay: 1.3s;*/
/*}*/
/*.item6 {*/
/*	transform: translate(0px, 30px);*/
/*	transition-delay: 1.6s;*/
/*}*/

/*!***!*/
/* .item {*/
/*	transform: translateY(0%);*/
/*}*/
/***/

/*----------------------------------------------------------*/


.menu-links{
	text-transform: uppercase;
	font-family: 'Playfair Display', serif;
	width: 600px;
	padding-top: 10px;
	border-bottom: 1px solid #ffffff;
	text-align: center;
}

.menu-links a {
	color: #fff;
	font-size: 23px;
	text-decoration: none;
}

.dot-nav{
	z-index: 7;
	top: 53%;
	position: fixed;
	right: 18px;
}

.dot-nav a{
	background-color: #ffffff;
	cursor: pointer;
	border: 1px solid #ffffff5c;
	border-radius: 50%;
	width: 7px;
	height: 7px;
	display: block;
	margin: 13px;
}

.dot-active{
	position: relative;
	background-color: #ffffff ;
	width: 7px !important;
	height: 7px !important;
}

.dot-active-background{
	background: #00000055 !important;
}

.dot-active:before {
	margin: 0;
	position: absolute;
	left: -6px;
	padding: 0;
	right: -6px;
	bottom: -6px;
	top: -6px;
	border-radius: 50%;
	content: '';
	border: 1px solid #fff;
}

.dot-active-before:before{
	border: 1px solid #00000055;
}

.dot-active a{
	border-radius: 50%;
}


.section {
	width: 100%;
	height: 100vh;
}

.section:first-child{
	/*margin-top: 63px;*/
}

.section1 {
	background-color: #dbe20d;
	width: 100%;
	height: 100vh;
}


/*-----menu-----*/

.mobile-menu-icon{
	top: 28px;
	height: 30px;
	width: 30px;
	position: fixed;
	right: 47px;
	transition: 0.6s;
	-webkit-transition: 0.3s ease;
}

.mobile-menu-icon span, .mobile-menu-icon span::before, .mobile-menu-icon span::after {
	display: block;
	width: 27px;
	height: 1px;
	background-color: #ffffff;
	outline: 1px solid transparent;
	transition-property: background-color, transform;
	transition-duration: 0.3s;
	border: 1px solid #fff;
	margin-left: -1px;
}

.mobile-menu-icon span::before, .mobile-menu-icon span::after {
	position: absolute;
	content: ""
}

.mobile-menu-icon span {
	position: absolute;
	color: #fff;
}

.mobile-menu-icon span::before {
	top: 9px;
	height: 2px;
}

.mobile-menu-icon span::after {
	top: 20px
}

.mobile-menu-icon.clicked span {
	background-color: transparent;
	border: none;
}

.clicked {
	right: 50%;
	top: 15%;
	z-index: 1000;
}

.mobile-menu-icon.clicked span::before {
	transform: translateY(11px) rotate(45deg)
}

.mobile-menu-icon.clicked span::after {
	transform: translateY(-9px) rotate(-45deg)
}

.mobile-menu-icon.clicked span::before {
	top: 0;
	height: 1px;
}

.mobile-menu-icon.clicked span:before, .mobile-menu-icon.clicked span:after {
	background-color: #ffffff
}

.mobile-menu-icon:hover {
	cursor: pointer
}

.overflow_h {
	overflow: hidden
}

#page1{
	width: 100%;
	height: 912px;

	/*background-color: #5429c5;*/
	/*background-image: url('https://funny-photo.s3.amazonaws.com/templates/1028/preview500.jpg');*/
	/*background-image: url('../img/first-section.jpg');*/
	/*background-repeat: no-repeat;*/
	/*background-size: cover;*/
	/*background-attachment: local;*/
}

.page-bg-photo{
	width: 50%;
	height: 100%;
	background-image: url('../img/first-section.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}


.first-page{
	/*height: 1052px;*/
	 width: 100%;
	height: 100%;
	display: flex;
	/*margin-left: 50%*/
}
.first-page > img {
	width: 50%;
	height: 100%;
}

.page-back{
	width: 50%;
	height: 100%;
	background-color: #5229C9;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-end;
}

.information{
	margin-left: 11%;
	margin-bottom: 9%;
	/*margin-bottom: 98px;*/
}


.first-text{
	padding: 0 12% 0 0;
	margin-bottom: 124px;
}

.text-1{
	color: #48e7e9;
	font-size: 30px;
	font-weight: 300;
	margin-bottom: 14px;
	font-family: 'Open Sans', sans-serif;
	letter-spacing: 1.3px;
}

.text-2{
	letter-spacing: 4px;
	line-height: 1.2;
	font-style: normal;
	font-size: 83px;
	color: white;
	font-weight: 800;
	margin: 0;
	font-family: 'Playfair Display', sans-serif;
}

.text-3{
	line-height: 1.6;
	font-style: normal;
	font-weight: 300;
	letter-spacing: 1px;
	color: #c3c3c3;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	margin-top: 24px;
}

.first-logo{
	margin-left: -7px;
	width: 28%;
	display: flex;
	justify-content: space-between;
	margin-bottom: 43px;
}

.first-logo > img {
	width: 28px;
	cursor: pointer;
}

.first-contact{
	margin-bottom: 31px;
	/*margin-top: -4%;*/
}

.first-contact > p{
	margin-bottom: 5px;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	color: #c3c3c3;
}

.first-contact > a {
	font-family: 'Open Sans', sans-serif;
	color: #c3c3c3;
	font-size: 17px;
	text-decoration: none;
	font-weight: 300;
}

#page2{
	/*!*background-image: url("https://wallpapercave.com/wp/wp1619692.jpg");*!*/
	/*width: 100%;*/
	/*height: 1061px;*/
	/*background: white;*/
	/*background-repeat: no-repeat;*/
	/*background-size: cover;*/
	/*background-attachment: fixed;*/

	width: 100%;
	height: 1061px;
	background-image: url("../img/second-section.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.second-page{
	background: #fff;
	width: 50%;
	height: 100%;
	display: flex;
	justify-content: flex-start;
}

.second-text{
	width: 100%;
padding: 10px;

}

.line{
	border-bottom: 2px solid #5429c5;
	width: 42px;
	height: 50px;
	margin: 0px 27px 0 4px;
}

.sec-text1{
	margin-top: 103px;
	margin-left: 72px;
	display: flex;
}

.sec-text1 > p {
	font-family: "Playfair Display", sans-serif;
	font-size: 65px;
	color: #5429c5;
	letter-spacing: 0.8px;
	font-weight: 700;
}

.sec-text2{
	margin-top: 30px;
	margin-left: 75px;
	margin-right: 82px;
}

.sec-text2 > p{
	font-size: 26px;
	font-family: "Playfair Display", sans-serif;
	font-weight: 200;
	font-style: normal;
	letter-spacing: 0.79px;
	line-height: 33px;
	color: #5429c5;
}

.sec-text3{
	margin-top: 60px;
	margin-left: 75px;
	margin-right: 82px;
}

.sec-text3 > p {
	font-size: 16px;
	font-family: "Open Sans", sans-serif;
	font-weight: 200;
	font-style: normal;
	letter-spacing: 0.89px;
	line-height: 29px
}

.skill-bars{
	font-family: "Playfair Display", sans-serif;
	/*padding: 5px;*/
	width: 80%;
	margin: 55px 25px 0 75px;
	height: 31%;
}

.bar{
	/*margin-top: 15px;*/
}

.skill-text{
	text-transform: uppercase;
	font-size: 13px;
	font-weight: 700;
	letter-spacing: 1px;
}

.pro-lines{
	margin-top: 16px;
}

.progress-line{
	/*margin-top: 15px;*/
	width: 98%;
	border-bottom: 7px solid #c3c3c3;
	border-radius: 3px;
}

.progress-line-2{
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border: 1px solid #5429c5;
	width: 92%;
	height: 5px;
	margin-top: -7px;
	background-color: #5429c5;
	position: relative;
	animation-timing-function: ease;
	animation-name: animation;
	animation-duration: 6s;
}

.progress-line-3{
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border: 1px solid #5429c5;
	width: 82.1%;
	height: 4px;
	margin-top: -7px;
	background-color: #5429c5;
	position: relative;
	animation-timing-function: ease;
	animation-name: animation2;
	animation-duration: 6s;
}

.progress-line-4{
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border: 1px solid #5429c5;
	width: 87.2%;
	height: 4px;
	margin-top: -6px;
	background-color: #5429c5;
	position: relative;
	animation-timing-function: ease;
	animation-name: animation3;
	animation-duration: 6s;
}

.progress-line-5{
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border: 1px solid #5429c5;
	width: 67.9%;
	height: 3px;
	margin-top: -6px;
	background-color: #5429c5;
	position: relative;
	animation-timing-function: ease;
	animation-name: animation4;
	animation-duration: 6s;
}

.html{
	margin-top: 17px;
	display: flex;
	justify-content: space-between;
	width: 97.5%;
}

.num{
	font-size: 13px;
	color: black;
	letter-spacing: 1px;
	font-weight: 700;
}

.css {
	margin-top: 37px;
	display: flex;
	justify-content: space-between;
	width: 97.4%;
}

#line-css{
	margin-top: 16px;
}

.js{
	display: flex;
	justify-content: space-between;
	width: 97.4%;
	margin-top: 38px;
}

#js{
	font-size: 13px;
	font-weight: 800;
	letter-spacing: 0.5px;
}

.php{
	display: flex;
	justify-content: space-between;
	width: 97.4%;
	margin-top: 35px;
}

@keyframes animation {
	0%   {background-color:#c3c3c3; 	width: 0;}
	20%  {background-color:#5429c5; 	width: 92%;
	}
}

@keyframes animation2 {
	0%   {background-color:#c3c3c3; 	width: 0;}
	20%  {background-color:#5429c5; 	width: 82.1%;
	}
}

@keyframes animation3 {
	0%   {background-color:#5429c5; 	width: 0;}
	20%  {background-color:#5429c5; 	width: 87.2%;
	}
}

@keyframes animation4 {
	 0%   {background-color:#5429c5; 	width: 0;}
	 20%  {background-color:#5429c5; 	width: 67.9%;
	 }
 }




#page3{
	display: flex;
	height: 1015px;
	background-color: #453bd8;
}

.third-page{
	width: 100%;
	margin: 0 auto;
	/*height: 90%;*/
	/*display: flex;*/
}

.third-cont{
	display: flex;
	justify-content: space-between;
	width: 89.7%;
	height: 230px;
	/* padding: 10px; */
	margin-top: 101px;
	margin-left: 79px;
	margin-right: 84px;
}

.third-text1{
	width: 430px;
	display: flex;
	/*margin-top: 100px;*/
}

.line2{
	border-bottom: 2px solid #ffffff;
	width: 32px;
	height: 50px;
	margin-top: 51px;
	margin-left: 7px;
}

.work{
	color: white;
	font-size: 72px;
	margin-top: 46px;
	margin-left: 25px;
	font-family: 'Playfair Display', sans-serif;
	font-weight: 800;
	letter-spacing: 1px;
}

.third-text2{
	color: white;
	width: 653px;
	font-size: 16px;
	font-family: "Open Sans", sans-serif;
	margin-top: 76px;
	margin-left: 83px;
	/* margin-right: 14px; */
	letter-spacing: 0.5px;
	line-height: 1.87;
}
.third-link{
	margin-top: 16px;
	font-size: 17px;
	margin-left: 0;
}

.third-link > a {
	color: #48e7e9;
	text-decoration: none;
	cursor: pointer;
}

.works-arrows{
	display: flex;
	justify-content: space-between;
	width: 100px;
	margin-top: 76px;
	margin-left: 0;
}

.work-left-arrow > img , .work-right-arrow > img {
	width: 45px;
	height: 45px;
	cursor: pointer;
}

.third-slide{
	width: 100%;
	height: 51.3%;
	margin-top: 36px;
}

.slider{
	width: 90%;
	margin: 0 auto;
	height: 519px;
	overflow: hidden;
}

/*.slider{*/
/*	width: 100%;*/
/*	display: flex;*/
/*	justify-content: center;*/
/*	align-items: center;*/
/*	!* margin: 20% auto; *!*/
/*	margin-left: 6px;*/
/*}*/

.slide-item{
	width: 322px !important;
	height: 519px !important;
	background-color: #ffffff;
}

/*.slide-item > img {*/
/*	width: 322px;*/
/*	height: 519px;*/
/*}*/

/*li > img:hover{*/
/*	opacity: 40%;*/
/*	cursor: pointer;*/
/*	!*transform: scale(1.5);*!*/
/*}*/

.slide-item span {
	width: 210px;
	position: absolute;
	right: 0;
	left: 0;
	bottom: 0;
	top: 0;
	margin: 65% auto;
	opacity: 0;
}

.slide-item span h1{
font-family: "Playfair Display", sans-serif;
color: #453bd8;
}

.slide-item span h3{
font-family: "Open Sans", sans-serif;
color: #535151;;
font-weight: 600;
font-size: 16px;
line-height: 2;
}

.slide-item:hover span {
opacity: 1;
}

.slide-item:hover .slide-image {
transform: scale(1.01);
transition: 0.3s ease;
}

.slide-image{
	width: 322px !important;
	height: 520px !important;
}

.slide-image{
display: block;
z-index: -1;
transition: 0.3s ease;
position: absolute;
}

.slide-item:hover{
background: rgb(255 255 255 / 75%);
}

.slide-item{
position: relative;
text-align: center;
overflow: hidden;
transition: 0.3s ease;
background: transparent;
transition: 0.3s ease;
	margin: 0 38.5px 0 0 !important;
}

#page4{
	background-color: #ffffff;
	width: 100%;
	height: 1065px;
}

.fourth-page{
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin: auto;
}

.four-text1{
	font-size: 72px;
	font-weight: 800;
	font-family: 'Playfair Display', sans-serif;
	letter-spacing: 1px;
}

.exp-line{
	width: 80px;
	height: 2px;
	background: #5429c4;
	margin-left: 305px;
	margin-top: 11px
}

.four-lines{
	width: 180px;
	height: 500px;
	padding: 10px;
	margin-top: 101px;
	margin-left: 231px;
	font-size: 21px;
	font-weight: 900;
	font-family: 'Open Sans', sans-serif;
}

.fourth-part1{
	display: block;
	width: 30%;
	height: 100%;
	margin-top: 131px;
	margin-left: 84px;
}

.circle{
	width: 10px;
	height: 10px;
	border: 1px solid #472ad9;
	border-radius: 50%;
	margin-left: 136px;
	margin-top: -19px;
	display: block;
}

.fourth-line{
	width: 1px;
	height: 213px;
	background: #e2e2e2;
	margin-left: 141px;
	margin-bottom: 10px;
}

.fourth-num2{
	margin-top: -19px
}

.fourth-num3{
	margin-top: -20px
}

.fourth-part2{
	font-family: 'Open Sans', sans-serif;
	margin-top: 160px;
	margin-left: 75px;
}

.little-text{
	line-height: 29.9px;
	padding: 0 308px 0 5px;
	font-size: 16px;
	font-weight: 400;
	word-spacing: -1px;
	letter-spacing: 0.7px;
}

.experience{
	margin-top: 104px;
	margin-left: 5px;
}

.name{
	font-size: 24px;
	font-weight: 900;
	letter-spacing: 0.7px;
}

.name > p {
	color: #472ad9;
}

.position{
	font-size: 17px;
	margin-top: 10px;
	margin-left: 0px;
	letter-spacing: 1px;
}

.position > p {
	color: #676767;
}

.description{
	font-size: 21px;
	font-weight: 600;
	margin-top: 19px;
	letter-spacing: 0.7px;
	line-height: 36px;
	padding: 0 300px 0 0;
}

.description > p {
	color: #c3c3c3;
}


.exp-s1{
	margin-top: 68px;
}
.exp-s2{
	margin-top: 67px;
}

.f-time{
	display: none;
}

#page5{
	height: 621px;
	background: #532ad5;
	display: flex;
}

.fifth-page{
	width: 90%;
	height: 90%;
	margin: auto;
	/*display: flex;*/
}

.fifth-text{
	margin-top: 115px;
	margin-left: 415px;
}

.fifth-text > p {
	font-family: 'Playfair Display', sans-serif;
	font-size: 71px;
	font-weight: 800;
	letter-spacing: 1px;
	color: #ffffff;
}

.fifth-line{
	width: 79px;
	height: 2px;
	background: #48e7e8;
	margin-left: 25.5%;
	margin-top: 10px;
}
.fifth-slide{
	margin-left: 50px;
}

.fifth-slider{
	margin-top: 4%;
}

.fifth-logo {
	max-width: 200px;
	height: 150px;
	cursor: pointer;
}

.fi-slide{
	margin: 0 50px;
}

.slick-dots li button:before {
	font-size: 20px;
	line-height: 20px;
}


#page6{
	width: 100%;
	background-image: url(../img/second-section.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	 background-attachment: fixed;
	height: 864px !important;
	position: relative;
	display: flex;
}
.opacity-color{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.7);
}

.sixth-page{
	width: 100%;
	z-index: 1;
}

.sixth-cont{
	width: 95%;
	display: block;
	justify-content: space-between;
	margin-top: 210px;
	margin-left: auto;
	margin-right: auto;
}

.sixth-text1{
	margin-left: 2.9%;
}

.sixth-text1 > p {
	font-family: 'Playfair Display', sans-serif;
	font-size: 72px;
	font-weight: 800;
	word-spacing: 3px;
	letter-spacing: 0px;
	color: white;
}

.sixth-text2{
	font-family: 'Open Sans', sans-serif;
	margin-top: -66px;
	margin-left: 39.7%;
	padding: 0px 200px 0 0;
}

.sixth-text2 > p {
	font-size: 16px;
	font-weight: 500;
	color: white;
	letter-spacing: 0.5px;
	line-height: 28px;
	word-spacing: 0px;
}

.read-blog{
	margin-top: 22px;
	cursor: pointer;
}

.read-blog > a {
	text-decoration: none;
	letter-spacing: 0.5px;
	font-size: 16px;
	color: #8777df;
	/*cursor: pointer;*/
}

.slide-text{
	display: flex;
	justify-content: space-between;
	margin-top: 138px;
	max-width: 1440px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.blog-container{
	width: 435px;
	margin-left: 4px;
	padding: 0px 0px 0 10px;
	margin-right: 24.3px;
	color: white;
	margin-top: 2px;
}

.blog-title{
	font-family: 'Playfair Display', sans-serif;
	font-weight: 800;
	font-size: 30px;
	word-spacing: 4px;
}

.blog-info{
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	margin-top: 16px;
	margin-left: -2px;
	display: flex;
}

.blog-time{
	margin: 0 26px 0 0;
}

.blog-time > p {
	letter-spacing: 0.4px;
}

.blog-time > p > img {
	width: 17px;
	height: 17px;
	margin: 0px 14px 0 0;
	display: inline !important;
}

.blog-user > p {
	letter-spacing: 1px;
}

.blog-user > p > img {
	width: 15px;
	height: 16px;
	margin: 0 14px 0 0;
	display: inline !important;

}

.blog-content{
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: 500;
	margin-top: 29px;
	line-height: 27px;
	letter-spacing: 0px;
	word-spacing: 1.25px;
}

.blog-line{
	width: 442px;
	/*width: 342px;*/
	height: 2px;
	background: #694eea;
	margin-top: 34px;
	margin-bottom: 20px;
}

#title-1{
	letter-spacing: 0.1px;
	margin-top: 0px;
}

#content-1{
	letter-spacing: 0px;
	margin-top: 26px;
	margin-left: 0px;
	line-height: 28px;
	word-spacing: 2.5px;
}

#title-2{
	margin-top: 0px;
	margin-left: 5px;
	/*letter-spacing: 0.px;*/
	line-height: 39px;
}

#time-2 {
	margin-top: 2px;
	margin-left: 6px;
}

#user-2 {
	margin-top: 2px;
}

#content-2{
	margin-top: 28px;
	margin-left: 5px;
	line-height: 28.5px;
	letter-spacing: 0.3px;
}

#line-2{
	margin-left: 6px;
}

#title-3{
	margin-left: 10px;
	margin-top: 1px;
	letter-spacing: 1px;
	word-spacing: -3px;
	line-height: 39px;
}

#time-3{
	margin-left: 11px;
	margin-top: 1px;
}

#user-3{
	margin-top: 1px;
	margin-left: -1px;
}

#content-3{
	margin-left: 11px;
	margin-top: 27px;
	line-height: 28px;
	letter-spacing: 0;
	word-spacing: 3px;
}

#line-3{
	margin-left: 12px;
}

.sixth-arrows{
	width: 70px;
	display: flex;
	justify-content: space-between;
	margin-left: 89.7%;
	margin-top: -6.5%;
}


.left-arrow > img, .right-arrow > img {
	width: 45px;
	height: 45px;
	cursor: pointer;
}

.left-arrow{
	margin: 0 10px;
}

#page7{
	background-color: #5429c5;
	background-image: url('../img/contact-bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	height: 843px;
}

.sev-section{
	display: flex;
	justify-content: space-between;
}

.sev-contacts{
	width: 25%;
	margin-top: 189px;
	margin-left: 5.4%;
}

.sev-cont > p {
	font-size: 71px;
	font-family: 'Playfair Display', sans-serif;
	font-weight: 700;
	letter-spacing: 2px;
	color: white;
}

.sev-address{
	margin-top: 63px;
	margin-left: 11px;
}

.sev-address > p {
	font-size: 17px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 500;
	color: wheat;
	letter-spacing: 0.5px;
}

.sev-address > p > img {
	width: 20px;
	height: 19px;
}

.sev-num{
	margin-top: 33px;
	margin-left: 0;
}

.sev-num > p {
	font-size: 17px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 500;
	letter-spacing: 0.5px;
	color: wheat;
}

.sev-num > p > img {
	width: 20px;
	height: 20px;
}

.sev-mail{
	margin-top: 25px;
	margin-left: 5px;
	cursor: pointer;
}

.sev-mail > a {
	font-size: 17px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 500;
	text-decoration: none;
	color: wheat;
	letter-spacing: 0.5px;
}

.sev-mail > img {
	width: 28px;
	height: 28px;
}

.sev-social{
	margin-left: -7px;
	margin-top: 61px;
	display: flex;
	justify-content: space-between;
	width: 197px;
}

.sev-social > img {
	width: 27px;
	height: 27px;
	cursor: pointer;
}

#fb {
	width: 24px;
}

.sev-forms{
	width: 64%;
	margin-top: 208px;
}

#full-name{
	width: 91.5%;
	background: transparent;
	border: none;
	border-bottom: 3px solid wheat;
	padding: 0 0 17px 0;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
}

#email{
	margin-top: 40px;
	width: 91.5%;
	background: transparent;
	border: none;
	border-bottom: 3px solid wheat;
	padding: 0 0 15px 0;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	letter-spacing: 0.6px;
}

#subject{
	width: 91.5%;
	margin-top: 39px;
	background: transparent;
	border: none;
	border-bottom: 3px solid wheat;
	padding: 0 0 17px 0;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	letter-spacing: 0.6px;
}

#message{
	width: 91.5%;
	margin-top: 44px;
	background: transparent;
	border: none;
	border-bottom: 3px solid wheat;
	padding: 0 0 15px 0;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	letter-spacing: 0.6px;
	color: wheat;
	resize: none;
}

.sev-forms > input::placeholder, .sev-forms > textarea::placeholder{
	color: white;
}

.sev-forms > input:focus, .sev-forms > textarea:focus {
	color: white;
	outline: none;
}

.sev-forms > button {
	margin-top: 18px;
	width: 188px;
	height: 63px;
	font-size: 14.5px;
	font-weight: 700;
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #472ad9;
	cursor: pointer;
}

footer{
height: 99px;
background-color: #121212;
}

.footer{
	display: flex;
	justify-content: center;
}

.footer > p {
	color: #9b978f;
	margin-top: 44px;
	font-size: 14.5px;
	font-family: 'Open Sans', sans-serif;
	letter-spacing: 1.5px;
	word-spacing: 0px;
	font-weight: 300;
}

@media only screen and (max-width: 767px) {
	.second-page{
		width: 100% !important;
	}

	#page1 {
		width: 100%;
		height: 100%;
	}

	.first-page{
		width: 100%;
		height: 100%;
		display: initial;
	}

	.page-bg-photo {
		width: 100%;
		height: 400px;
	}

	.page-back{
		width: 100%;
		height: 100%;
	}

	.information{
		margin: 10%;
	}

	.first-logo{
		width: 65%;
	}

	#page3{
		height: 100%;
		width: 100%;
	}

	.third-page{
		height: 100%;
		display: initial;
	}

	.third-cont{
		width: 85% !important;
		display: block;
		margin: 0;
	}

	.third-text1{
		width: 100%;
		margin: 15% 10%;
	}

	.line2{
		margin: 0;
	}

	.work{
		margin: 0;
	}

	.third-text2{
		width: 85%;
		margin: 5% 15%;
	}

	.works-arrows{
		display: none;
	}

	.third-slide{
		width: 100%;
		margin: 70% 0 10% 0;
	}

	#page4 {
		height: 100% !important;
	}

	.fourth-page {
		display: initial;
		width: 100%;
		margin: auto;
	}

	.fourth-part1 {
		display: block;
		width: 70% !important;;
		height: 100%;
		margin: 25% 10% 13% 10% !important;;
	}

	.four-text1 {
		font-size: 45px  !important;
		font-weight: 800  !important;
		font-family: 'Playfair Display', sans-serif  !important;
		letter-spacing: 1px  !important;
	}

	.exp-line {
		width: 80px;
		height: 2px;
		background: #5429c4;
		margin: 0% 62%;
	}

	.fourth-part2 {
		margin: 3% 10% !important;
		width: 80% !important;
		height: auto;
	}

	.f-time{
		display: initial;
		font-size: 21px;
		font-weight: 900;
		font-family: 'Open Sans', sans-serif;
	}

	.little-text {
		font-size: 15px !important;
		width: 93% !important;
		padding: 0;
		margin: 0 !important;
	}

	.experience {
		margin: 30% 1% !important;
	}

	.name{
		margin-top: 3%;
	}

	.exp-s1, .exp-s2{
		margin-top: 20% !important;
	}

	.four-lines{
		display: none;
	}



	#page5 {
		height: 100%;
		background: #532ad5;
		display: flex;
	}

	.fifth-page {
		width: 90%;
		height: 100%;
		margin: auto;
		display: initial;
	}

	.fifth-text {
		text-align: center;
		margin-top: 10%;
		margin-left: 0;
	}

	.fifth-line{
		margin-left: 40%;
		margin-top: 3%;
	}

	.fifth-slide{
		margin: 20% 0;
	}


	#page6{
		height: 100% !important;
	}

	.sixth-slide{
		margin-bottom: 7%;
	}

	.blog-line{
		width: 100%;
	}


	#page7{
		display: flex;
		height: 100%  ;
	}

	.sev-section{
		display: initial;
		height: 100%;
		padding: 5%;
	}

	.sev-contacts{
		width: 100%;
		margin: 5% auto;
	}

	.sev-address{
		margin: 10% 2%;
	}

	.sev-num, .sev-mail{
		margin: 10% 3%;
	}

	.sev-social{
		width: 30%;
		margin: 10% 3%;
	}

	.sev-forms{
		width: 100%;
		margin: 0 3% 10% 3%;
	}

	.sev-forms > button{
		margin-top: 3%;
	}

	footer {
		height: 99px;
		background-color: #121212;
		display: flex;
	}

	.footer {
		display: initial;
		width: 65%;
		margin: 5.5% auto;
		height: 45%;
		text-align: center;
	}

	.footer > p {
		margin: 0;
	}

}

@media (max-width: 1000px) {
	.sixth-arrows{
		display: none !important;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: 0;
	}
	.slide-text{
		width: 92%;
		margin-top: 7% !important;
	}
}

@media (max-width: 1145px) {
	.dot-nav{
		display: none;
	}
}


@media (max-width: 1400px) {

	#page2{
		height: 100%;
	}

	.second-text{
		width: 100%;
		padding: 5%;
		margin-bottom: 7%;
	}

	.sec-text1{
		margin: 5% auto;
		width: 90%;
		display: flex;
	}

	.sec-text2{
		width: 90%;
		margin: 10% auto;
	}

	.sec-text3{
		width: 90%;
		margin: 3% auto;
	}

	.skill-bars{
		width: 90%;
		margin: 7% auto;
	}

	#page4{
		height: 100%;
	}

	.fourth-page {
		width: 100%;
		margin: auto;
	}

	.fourth-part1 {
		display: block;
		width: 30%;
		height: 100%;
		margin-top: 131px;
		margin-left: 84px;
	}

	.four-text1 {
		font-size: 72px;
		font-weight: 800;
		font-family: 'Playfair Display', sans-serif;
		letter-spacing: 1px;
	}

	.four-lines {
		width: 180px;
		height: 500px;
		padding: 10px;
		margin-top: 75%;
		margin-left: 10px;
		font-size: 21px;
		font-weight: 900;
		font-family: 'Open Sans', sans-serif;
	}

	.fourth-part2 {
		font-family: 'Open Sans', sans-serif;
		margin-top: 28%;
		margin-left: -32%;
		margin-bottom: 10%;
	}

	.little-text {
		line-height: 29.9px;
		font-size: 16px;
		font-weight: 400;
		word-spacing: -1px;
		letter-spacing: 0.7px;
		width: 50%;
		min-width: 30%;
		margin-top: -1;
		margin-left: 3%;
		padding: 0;
	}

	.experience {
		margin-top: 6%;
		margin-left: 32%;
	}

	.description {
		width: 85%;
		font-size: 21px;
		font-weight: 600;
		margin-top: 4px;
		letter-spacing: 0.7px;
		line-height: 36px;
		padding: 0;
	}

	.exp-s1 {
		margin-top: 8%;
	}

	.exp-s2 {
		margin-top: 8%;
	}

  .sixth-text1{
	  width: 50%;
	  margin-left: 2.9%;
  }

	.sixth-text2{
		width: 80%;
		font-family: 'Open Sans', sans-serif;
		margin-top: 2%;
		margin-left: 3%;
		padding: 0;
	}

	.sixth-arrows{
		width: 7%;
		display: flex;
		justify-content: space-between;
		margin-left: 85.7%;
		margin-top: -18%;
	}

	.slide-text{
		width: 92%;
		margin-top: 18%;
	}
}