@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");


*{
	margin: 0;
	padding: 0;
}

body {
	height: 1000px;
	background-color: #5429c55c;
}

header{
	position: fixed;
	width:100%;
	background:#1d1f20;
	height:63px;
	line-height:50px;
	top: 0;
	bottom: 0;
}

.header-nav{
	z-index: 5;
	visibility: hidden;
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	top: 63px;
	display: flex;
	background: rgba(0,0,0,0.5);
	justify-content: center;
	align-items: center;
}

.header-nav .toggle{
	position: absolute;
	top: 0;
	right: 0;
	z-index: 2;
	cursor: pointer;
	width: 50px;
	height: 50px;
	opacity: 0;
}

.menu {
	list-style-type: none;
}

.menu-links{
	text-transform: uppercase;
	font-family: 'Playfair Display', serif;
	width: 600px;
	padding-top: 10px;
	border-bottom: 1px solid #ffffff;
	text-align: center;
}

.menu-links a {
	color: #fff;
	font-size: 23px;
	text-decoration: none;
}

.dot-nav{
	top: calc(50% - 55px);
	position: fixed;
	right: 30px;
}

.dot-nav a{
	cursor: pointer;
	border: 1px solid #ffffff;
	border-radius: 50%;
	width: 8px;
	height: 8px;
	display: block;
	margin: 10px;
}

.dot-active{
	background-color: #ffffff !important;
	/*width: 12px !important;*/
	/*height: 12px !important;*/
	/*border-radius: 50%;*/
	/*background-color: #121212;*/
	/*position: relative;*/
}

.dot-active a{
/*background-color: #121212 !important;*/
	width: 12px !important;
	height: 12px !important;
	border-radius: 50%;
}


.section {
	background-color: pink;
	width: 100%;
	height: 100vh;
}

.section:first-child{
	margin-top: 63px;
}

.section1 {
	background-color: #dbe20d;
	width: 100%;
	height: 100vh;
}

footer{
	height: 63px;
	background-color: #121212;
}



/*-----menu-----*/

.mobile-menu-icon{
	top: 20px;
	height: 30px;
	width: 30px;
	position: fixed;
	right: 30px;
	transition: 0.6s;
	-webkit-transition: 0.3s ease;
}

.mobile-menu-icon span, .mobile-menu-icon span::before, .mobile-menu-icon span::after {
	display: block;
	width: 30px;
	height: 1px;
	background-color: #ffffff;
	outline: 1px solid transparent;
	transition-property: background-color, transform;
	transition-duration: 0.3s;
	border: 1px solid #fff;
	border-radius: 500px;
}

.mobile-menu-icon span::before, .mobile-menu-icon span::after {
	position: absolute;
	content: ""
}

.mobile-menu-icon span {
	position: absolute;
	color: #fff;
}

.mobile-menu-icon span::before {
	top: 9px
}

.mobile-menu-icon span::after {
	top: 18px
}

.mobile-menu-icon.clicked span {
	background-color: transparent;
	border: none;
}

.clicked {
	right: 50%;
	top: 15%;
	z-index: 1000;
}

.mobile-menu-icon.clicked span::before {
	transform: translateY(9px) rotate(45deg)
}

.mobile-menu-icon.clicked span::after {
	transform: translateY(-9px) rotate(-45deg)
}

.mobile-menu-icon.clicked span::before {
	top: 0
}

.mobile-menu-icon.clicked span:before, .mobile-menu-icon.clicked span:after {
	background-color: #ffffff
}

.mobile-menu-icon:hover {
	cursor: pointer
}

.overflow_h {
	overflow: hidden
}